<html>
<body prefix="schema: http://schema.org/ bbc: http://purl.org/ontology/fo/"
      typeof="bbc:Recipe" >

<a href="http://www.w3.org/2012/pyRdfa/extract?uri=referer">
view data extracted from RDFa markup</a><br>



<h1 class="title" property="dcterms:title">{{ dish.dish }}</h1>
<a href=".">Parent Menu</a>
<p class="description" property="dcterms:description">{{ dish.dish_description }}</p>
  


  <label>Ingredient<br>
    <ul>
      {% for ingredient in dish.ingredient_list %}
      <li property="bbc:ingredients"
           typeof="bbc:Ingredient">
        <p property="dcterms:title bbc:food">{{ dish.ingredient_list[ingredient]['ingredient'] }}</p>
        <span property="dcterms:description" >{{ dish.ingredient_list[ingredient]['ingredient_description'] }}</span>
      </li>
	      {% endfor %}
  </label>
  <br>
  
{#  <label>description<br>#}
{#      <li#}
{#          property="dcterms:description" typeof="Comment">#}
{#        <p property="text">{{ dish.dish_description }}</p>#}
{#      </li>#}
{#    </ul>#}
{#  </label>#}
  <br>
  <form class="dish-editor" method="patch">
  <input class="update" type="submit" value="update help request">
  <script>
    var form = document.querySelector('form.dish-editor');
    var button = document.querySelector('form.dish-editor input.update');

    button.addEventListener('click', function (event) {
      event.preventDefault();
      var request = new XMLHttpRequest();
      request.open('PATCH', window.location.pathname);
      request.send(new FormData(form));
    }, false);
  </script>
</form>
</body>
</html>
