<html>
<body prefix="bbc: http://purl.org/ontology/fo/"
      typeof="bbc:Recipe" >

<a href="http://www.w3.org/2012/pyRdfa/extract?uri=referer">
view data extracted from RDFa markup</a><br>



<h1 class="title" property="dcterms:title">{{ dish.dish }}</h1>
<a href=".">Parent Menu</a>
<p class="description" property="dcterms:description">{{ dish.dish_description }}</p>
  


 Ingredients:<br>
    <ul>
      {% for ingredient in dish.ingredient_list %}
      <li property="bbc:ingredients"
           typeof="bbc:Ingredient">
        <p property="dcterms:title bbc:food">{{ dish.ingredient_list[ingredient]['ingredient'] }}</p>
        <span property="dcterms:description" >{{ dish.ingredient_list[ingredient]['ingredient_description'] }}</span>
      </li>
	      {% endfor %}

  </ul>
  

  <form method="PATCH" class="add-ingredient">
	Add Ingredient
	<input class="name" type="text" name="ingredient" value="" />
	<input class="description" type="text" name="description" value="" />
	<input class="add" type="submit" value="Add an ingredient" />
</form>
<form method="patch" class="remove-ingredient">
	Remove Ingredient
	<input class="name" type="text" name="del-ingredient"  />
	<input class="remove" type="submit" value=" Remove Ingredient"/>
</form>

<form method="DELETE" class="delete-dish">
	Delete Menu Item
	<input class="this" type="submit" />
</form>

  <script>
    var addForm = document.querySelector('form.add-ingredient');
    var addButton = document.querySelector('form.add-ingredient input.add');

    addButton.addEventListener('click', function (event) {
      event.preventDefault();
      var request = new XMLHttpRequest();
      request.open('PATCH', window.location.pathname);
      request.send(new FormData(addForm));
{#        console.log(new FormData(addForm))#}
        request.onreadystatechange = function(){
        location.reload();}
    }, false);

    var remForm = document.querySelector('form.remove-ingredient');
    var remButton = document.querySelector('form.remove-ingredient input.remove');

    remButton.addEventListener('click', function (event) {
      event.preventDefault();
      var request = new XMLHttpRequest();
      request.open('PATCH', window.location.pathname);
      request.send(new FormData(remForm));
       request.onreadystatechange = function(){
        location.reload();}
{#        console.log(new FormData(remForm))#}
    }, false);

    var delForm = document.querySelector('form.delete-dish');
    var delButton = document.querySelector('form.delete-dish input.this');

    delButton.addEventListener('click', function (event) {
      event.preventDefault();
      var request = new XMLHttpRequest();
      request.open('DELETE', window.location.pathname);
      request.send(new FormData(delForm));
        request.onreadystatechange = function(){
        location.reload();}
{#        console.log(new FormData(remForm))#}
    }, false);

  </script>
</body>
</html>
