<html>
<head>
</head>
<body prefix="bbc: http://purl.org/ontology/fo/ schema: https://schema.org/" typeof="bbc:Menu">
<h1 id="heading">A Restaurant</h1>
<div class="navigation"><a href="/list_of_menus.html" rel="parent">Return to the Menu of Menus</a></div>
<h2>Menu</h2>
<label>Recipe
<br>
<ul>
{% for Recipe in menu.Recipe %}
<li typeof="bbc:Recipe">
<p property="text">{{ Recipe }}</p>
</li>
{% endfor %}
</label>
</ul>
<label>description
<br>
<ul>
{% for description in menu.description %}
<li typeof="schema:description">
<p property="text">{{ description }}</p>
</li>
{% endfor %}
</label>
</ul>
<br>
<span property="schema:name"> <a resource="dish.html" rel="child">Second Menu Item</a></span>
<div property="schema:description">Description One</div>
</li>
<li typeof="bbc:Recipe">
<span property="schema:name"> <a resource="dish.html" rel="child">Second Menu Item</a></span>
<div property="schema:description">Description Two</div>
</li>
<li typeof="bbc:Recipe">
<span property="schema:name"> <a resource="dish.html" rel="child">Second Menu Item</a></span>
<div property="schema:description">Description Three</div>
</li>
</ul>
<form class="create_item" action="/list_of_menus/menu" method="PUT">
Create menu item
<input class="name" type="text" name="item_name" value="Name">
<input class="description" type="text" name="dish_description" value="Description" />
<input class="ingredient_list" type="text" name="ingredient_list" value="Ingredients" />
<input type="submit" />
</form>
<form class="delete_menu" action="/list_of_menus/menu" method="DELETE">
Delete Menu
<input class="this" type="submit" />
</form>
</body>
</html>
