<html>
<head>
</head>
<body prefix="bbc: http://purl.org/ontology/fo/ schema: https://schema.org/" typeof="bbc:Recipe">
<a href="http://www.w3.org/2012/pyRdfa/extract?uri=referer">
view data extracted from RDFa markup</a>
<h1 id="heading">A Restaurant</h1>

<div class="navigation"><a href="{{ url_for("menulist") }}" rel="parent">Return to the List of Menus</a></div>

<h2>{{ menu.menu }}</h2>

    <ul>
        {% for dish in menu.dishes %}
            <li typeof="bbc:Recipe">
                <span property="schema:name"> <a href="{{ url_for('getdish', menu_id=menu.menu, dish_id=dish ) }}" resource="{{ url_for('getdish', menu_id=menu.menu, dish_id=dish, _external=True) }}" rel="child">{{ menu.dishes[dish]["dish"] }}</a></span>
                <div property="schema:description">{{ menu.dishes[dish]["dish_description"] }}</div>
            </li>
        {% endfor %}

</ul>

<form class="create_item" action="/list_of_menus/menu" method="PUT">
    Create menu item
    <input class="name" type="text" name="item_name" value="">
    <input class="description" type="text" name="dish_description" value="" />
    <input type="submit" />
</form>
<form class="delete_menu" action="/list_of_menus/menu" method="DELETE">
    Delete Menu
    <input class="this" type="submit" />
</form>
</body>
</html>
